@using AppForSEII2526.Web.API
@inject APiClient apiclient
@inject ILogger<PurchaseProductForReturning> logger
@inject ReturnPurchaseOrderStateContainer returnPurchaseOrderStateContainer
@page "/returnorder/purchaseproductforreturning"


<h3>Purchase Product For Returning</h3>
<div class="container-fluid">
    <div class="row" hidden="@hideErrors">
        <p>here i will show the errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
               

                <div class="col">
                    <div class= "input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">ProductName</span>
                        <input type="text" id="inputProductName" @bind=productName class="form-control" placeholder="ProductName" aria-label="ProductName" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col">
                    <div class= "input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Quantity</span>
                        <input type="number" id="inputQuantity" @bind=quantity class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col">
                    <div class= "input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">UserName</span>
                        <input type="text" id="inputUserName" @bind=userName class="form-control" placeholder="UserName" aria-label="UserName" aria-describedby="basic-addon1">
                    </div>
                </div>



                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchPurchaseProductForReturning id="purchaeProductForReturning">Purchase Product For Returning </button>
                </div>
            </div>
            <div class="row">
                @if (purchaseProductForReturn == null)
                {
                    <p>Loading purchaseProductsForReturning....</p>
                }
                else
                {
                    <p>number of purchaseProductsForReturning @purchaseProductForReturn.Count</p>

                }
            </div>
        </div>
        <div class="col-2">
            <p>here i will show the renting cart</p>
        </div>

    </div>

</div>

@code {
    private ICollection<PurchaseProductForReturnDTO> purchaseProductForReturn;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string productName { get; set; }
    private int quantity { get; set; }

    private string userName;
    private string userNAME
    {
        get { return userName; }
        set
        {
            if(userName != value)
            {
                userName = value;
            }
        }
    }

    //private ReturnPurchaseOrderForCreateDTO returnPurchaseOrderForCreateDTO => returnPurchaseOrderStateContainer.ReturnPurchaseOrderForCreateDTO;



    public async void SearchPurchaseProductForReturning()
    {
        try
        {
            purchaseProductForReturn = await apiclient.GetPurchasedProductsForReturningAsync(userName, productName, quantity); //AQUI EL USERNAME NO SE SI DEBO PONER ESTE O OTRA COSA("pau@gmail.com")

        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();

    }


    protected override Task OnInitializedAsync()
    {
        // Valores iniciales por defecto 
        userName = "pau@gmail.com";  // el UserName que exista en tu BD, no el email
        productName = "";
        quantity = 0;

        // llamada inicial, igual que SearchMovies() en el ejemplo
        SearchPurchaseProductForReturning();

        return base.OnInitializedAsync();
    }


}
