@page "/purchaseorder/createpurchase"

@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@inject APiClient apiclient
@inject ILogger<SelectProductsForPurchase> logger
@inject PurchaseStateContainer purchaseState

<h3>Create a Purchase</h3>

@* purchase is the object that will be edited thanks to the form *@
<EditForm Model="purchase" OnValidSubmit="OpenDialog">
    <div class="row">

        <div class="col-md">
            <div class="form-floating">
                @*this button will be used to ask the user if he wants to proceed to purchase the products*@
                <button class="btn btn-primary" type="submit" id="Submit">
                    Purchase your products
                </button>
            </div>
        </div>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed to rent*@
@if (DialogIsOpen)
{
    <Dialog Caption="Purchase prdocuts"
            Message="Do you want to proceed to purchase the selected products?"
            OnClose="@OnDialogClose"
            Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {
    private bool DialogIsOpen;

    private PurchaseOrderForCreateDTO purchase => purchaseState.Purchase;
    
    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
        }
    }
}