@page "/purchaseorder/selectproductsforpurchase"

<h3>Select Products For Purchase</h3>
<div class="container-fluid">
    <div class="row">
        <p>here i will show the errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <p>here i will show the filters</p>
            </div>
            <div class="row">
                <p>here i will show the list of products</p>
            </div>
        </div>
        <div class="col-2">
            <p>here i will show the purhcase cart</p>
        </div>

    </div>

</div>
@code {

}
